.movablearea {
    padding: 10px;
    max-width: 1450px;
    margin: 0 auto;


    .ttl_categarea_titleory {
        margin-bottom: 10px;
        margin-top: 100px;
        font-size: 30px;
        letter-spacing: 5px;
        text-align: center;
    }

    ul {
        display: flex;
        justify-content: space-around;
        margin: 0 150px;

        .drop_down {
            position: relative;
            height: 110px;
            width: 110px;
            text-align: center;
            margin: 10px;
            border: 1px solid #dbdcd9;
            border-radius: 10%;

            img {
                width: 65px;
                height: auto;
                max-width: initial;
            }

            span {
                font-size: 10px;
                letter-spacing: 2px;

                //  プラス
                p {
                    position: relative;

                    // 縦の線
                    span::before {
                        background-color: #777;
                        /* 線の色 */
                        content: '';
                        height: 1px;
                        /* 線の太さ */
                        position: absolute;
                        right: 25px;
                        top: 50%;
                        /* 線の位置を縦中央に */
                        transform: rotate(90deg);
                        /* 線を縦に */
                        transition: transform .3s ease-in-out;
                        width: 10px;
                        /* 線の幅 */
                        margin-top: -10px;
                        margin-right: -22px;
                    }

                    // 横の線
                    span::after {
                        background-color: #777;
                        /* 線の色 */
                        content: '';
                        height: 1px;
                        /* 線の太さ */
                        position: absolute;
                        right: 25px;
                        top: 50%;
                        /* 線の位置を縦中央に */
                        transition: opacity .3s ease-in-out;
                        width: 10px;
                        /* 線の幅 */
                        margin-top: -10px;
                        margin-right: -22px;
                    }
                }
            }

            div {
                position: relative;

                ul {
                    position: absolute;
                    margin-left: -6px;
                    display: none;
                    margin-top: 9px;
                    margin-left: 10px;

                    li a {
                        padding: 5px;
                        margin-left: -5px;
                        margin-right: -5px;
                        margin-bottom: -5px;
                        display: block;
                        color: #777;
                        text-decoration: none;
                        font-size: 10px;
                        margin-top: 5px;
                        margin-left: 20px;
                        text-align: center;
                    }

                    li a:hover {
                        color: gray;
                    }
                }
            }
        }

        .nomal {
            position: relative;
            border: 1px solid #dbdcd9;
            border-radius: 10%;
            height: 110px;
            width: 110px;
            text-align: center;
            margin: 10px;

            img {
                width: 65px;
                height: auto;
                max-width: initial;
            }

            span {
                font-size: 10px;
                letter-spacing: 2px;
            }

            span::after {
                content: '';
                display: block;
                position: absolute;
                right: 7px;
                top: calc(50% - 3px);
                border-left: 1px solid #777;
                border-top: 1px solid #777;
                width: 5px;
                height: 5px;
                transform: rotate(135deg);
                margin-top: 37px;
                margin-right: -3px;
            }
        }
    }
}

// 新着アイテム
.clearfix {
    position: relative;
    max-width: 1450px;
    margin: 0 auto;

    h2 {
        font-size: 30px;
        padding: 0 30px;
        margin-bottom: 10px;
        margin-top: 80px;
        text-align: center;
    }

    #new_arrivalItem {
        padding: 0 150px;
        box-sizing: border-box;

        .scrollable {
            overflow-x: scroll;
            overflow-y: hidden;


            .new_arrivalList {
                display: flex;
                box-sizing: border-box;
                overflow: scroll;
            }

            .clearfix {
                zoom: 1;

                .newarrival1 {

                    .listInner {
                        text-align: center;
                        font-size: 11px;
                        max-width: 1000px;

                        a {
                            .photo {

                                img {
                                    width: 100%;
                                }
                            }

                            .ico-box {
                                text-align: left;

                                .new {
                                    color: red;
                                }

                                .reservation {
                                    color: skyblue;
                                }

                                .restock {
                                    color: orange;
                                }
                            }

                            .textOverflow {
                                box-sizing: border-box;
                                text-align: left;
                            }

                            .price {
                                line-height: 1.1;
                                margin: 0;
                                text-align: left;
                                float: left;
                            }
                        }

                    }
                }
            }

        }


    }

    // .scroll-left {
    //     top: 150px;
    //     left: 100px;
    //     transform: translateX(-5px);
    //     position: absolute;
    //     border: 1px solid #dadada;
    //     width: 30px;
    //     height: 30px;
    //     box-sizing: border-box;
    //     background-color: white;
    //     display: block;
    //     transition: .3s;
    //     margin-left: 65px;
    // }

    // .scroll-left::before {
    //     width: 6px;
    //     height: 6px;
    //     border-top: 1px solid black;
    //     border-left: 1px solid black;
    //     position: absolute;
    //     top: 50%;
    //     left: 50%;
    //     transform: rotate(-45deg)translate(1px, -3px);
    //     content: '';
    //     display: block;
    // }

    // .scroll-right {
    //     top: 150px;
    //     right: 125px;
    //     transform: translateX(5px);
    //     position: absolute;
    //     border: 1px solid #dadada;
    //     width: 30px;
    //     height: 30px;
    //     box-sizing: border-box;
    //     background-color: white;
    //     transition: .3s;
    //     margin-right: 65px;
    // }

    // .scroll-right::before {
    //     width: 6px;
    //     height: 6px;
    //     border-top: 1px solid #575757;
    //     border-right: 1px solid #575757;
    //     position: absolute;
    //     top: 50%;
    //     left: 50%;
    //     transform: rotate(45deg)translate(-5px, 0px);
    //     content: '';
    //     display: block;
    // }
}


// フッター
footer {
    background-color: rgb(218, 236, 244);
    padding-top: 20px;
    margin-top: 100px;

    .footer-main {
        display: flex;
        justify-content: space-evenly;

        .footer-left {
            h3 {
                font-size: 20px;
                padding-bottom: 10px;
                font-weight: bold;
            }

            img {
                width: 300px;
                height: auto;
            }
        }

        .footer-mannaka {
            h3 {
                font-size: 20px;
                padding-bottom: 10px;
                font-weight: bold;
            }

            p {
                padding-bottom: 10px;
            }
        }

        .footer-right {

            h3 {
                font-size: 20px;
                padding-bottom: 10px;
                font-weight: bold;
            }

            p {
                padding-bottom: 10px;
            }
        }
    }

    .icon-f {
        display: flex;
        justify-content: center;
        padding-bottom: 30px;

        img {
            height: 30px;
            width: auto;
            margin-right: 5px;
            margin-left: 10px;
        }

        p {
            font-size: 15px;
            margin-top: 5px;
        }
    }
}

@media screen and(max-width:767px) {
    .movablearea {
        ul {
            margin: 0;
        }

        span {
            letter-spacing: 0;
        }
    }


    .clearfix {
        #new_arrivalItem {
            padding: 0 0px;
        }

        .scroll-left {
            left: -21px;
        }

        .scroll-right {
            right: -21px;
        }
    }

    footer {
        .footer-main {
            .footer-left {
                img {
                    width: 240\\px;
                }
            }
        }

    }
}
// ブレイクポイント４８０px
@media screen and(max-width:480px) {
#header{
    display: block;
    .menu{
        margin-left: 40px;
    }

    .hamburger {
        width: 60px;
        height: 60px;
        cursor: pointer;
        position: relative;
        z-index: 999;
    }
    #nav {
        width: 50%;
        height: 100vh;
        background-color: #fff;
        padding: 10rem 4rem 4rem;
        position: fixed;
        top: 0;
        right: -300%;
        transition: all .5s;
        z-index: 99;
    }

    #nav {
        .nav_menu_ul {

            // display: block;
            // list-style: none;
            .nav_menu_li {
                position: relative;
                margin: 0;
                border-bottom: 2px solid #333;
                color: #000;
                font-size: 17px;
                margin-bottom: 20px;
            }
        }
    }
    .hamburger span {
        display: block;
        width: 50%;
        height: 3px;
        background-color: gray;
        position: absolute;
        top: -100%;
        right: 15%;
        transform: translate(-50%, -50%);
    }
    
    .hamburger span:nth-child(1) {
        top: -43px;
    }
    
    .hamburger span:nth-child(2) {
        top: -32px;
    }
    
    .hamburger span:nth-child(3) {
        top: -20px;
    }
    // ナビを開封する
    #nav.is-active {
        right: 0;
    }

    // 3本線をバッテンにする
    .hamburger.is-active span:nth-child(1) {
        top: -35px;
        right: 15px;
        transform: translateY(6px) rotate(-45deg);
        width: 70%;
    }

    .hamburger.is-active span:nth-child(2) {
        display: none;
    }

    .hamburger.is-active span:nth-child(3) {
        top: -23px;
        right: 15px;
        transform: translateY(-6px) rotate(45deg);
        width: 70%;
    }
}
.movablearea{
    ul{
        justify-content: space-around;
        flex-wrap: wrap;
    }
}
.slide-items{
    width: 100%;
}
.footer-main{
    flex-direction: row-reverse;
    flex-wrap: wrap-reverse;
    .footer-right{
        width: 50%;
        margin-left: 50px;
    }
    .footer-mannaka{
        width: 50%;
        margin-right: -60px;
    }
}
.tab_box {
    margin-top: 100px;
    margin-bottom: 50px;

}
}